@import "style.css";
@media(max-width: 900px){
    .some-links{
        /* border: 2px solid red; */
        height: 100vh;
        background-color: var(--primary-green);
        display: flex;
        position: absolute;
        visibility: hidden;
        top: 2%;
        left: 1000%;
        align-items: center;
        text-align: left;
        justify-content: flex-start;
    }

    .check{
        right: 10%;
    }


    nav ul li{
        /* display: block; */
        text-align: center;
        border: 1px solid #fff;
        margin: 5px;
        width: 100%;
        border-radius: 20px;
    }

    .some-links.active{
        visibility: visible;
        left: 50%;
    }
    

    nav ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        /* border: 2px solid red; */
        width: 41%;
    }

    nav ul li a{
        font-weight: 600;
        color: #fff;
    }

    .header-btns{
        position: absolute;
        bottom: 20%;
        right: 66%;
        display: flex;
        flex-direction: column;
    }
    .header-btns button{
        margin: 5px;
    }

    .get-started{
        border: 1px solid #fff;
        padding: 14px 50px 14px 50px;
    }

    .hamburger{
        display: block;
        position: absolute;
        /* position: fixed; */
        right: 50px;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .brands{
        display: flex;
        flex-direction: column;
    }

    .brands .brands-logo{
        padding-bottom: 50px;
    }

    .main-header{
        font-size: 55px;
    }
    
    .main-about{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .info-img{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .info-img img{
        width: 80%;
        height: 100%;
    }

    .header-h2{
        font-size: 45px;
    }

    .rect-p{
        font-size: 18px;
    }

    .frame-22{
        width: 80%;
        height: 100%;
    }

    .pathway-info{
        padding: 25%;
    }

    .pathway{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }


    .choose{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .unsplash{
        width: 80%;
        height: 80%;
    }

   @media(max-width: 617px){
    .newsletter form input:first-child{
        padding: 25px 320px 28px 25px;
    }

    .newsletter form input:last-child{
        top: 2.5px;
        right: -30px;
    }




   
   }

    @media(max-width: 375px){
        nav ul{
            width: 34%;
        }

        .newsletter form input:first-child{
            padding: 25px 200px 28px 25px;
        }
    
        .newsletter form input:last-child{
            top: 20px;
            right: 1px;
            padding: 5px 10px 5px;
        }
        
        .header-btns{
            bottom: 5%;
            right: 5%;
        }

        .hamburger{
            right: 5px;
        }

        .main-about{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        /* .header-about .header-h2{
            text-align: center;
        }

        .p-about .aboutP{
            text-align: center;
        } */

        .choose-img{
            padding-left: 120%;
            padding-top: 50%;
        }
        .unsplash{
            width: 40%;
            height: 40%;
        }

        .learn-btn{
            padding: 12px 35px 12px;
        }
    

    }

    @media(max-width: 414px){
        nav ul{
            width: 34%;
        }
        
        .header-btns{
            bottom: 20%;
            right: 53%;
        }

    }

    @media(max-width: 280px){
        nav ul{
            width: 30%;
        }
        
        .header-btns{
            bottom: 15%;
            right: 53%;
        }

        .get-started{
            border: 1px solid #fff;
            padding: 10px 20px 10px 20px;
        }

        .sign-in{
            padding: 10px 20px 10px 20px;
        }
    }
}
