*{
    padding: 0;
    margin: 0;
    font-family: 'Inter Tight', sans-serif;
}

body{
    width: 100%;
    background-color: var(--primary-color);
}

:root{
    --primary-color: #fdfdfd;
    --secondary-color: #263238;
    --primary-green: #008000;
    --secondary-green: #23B123;
    --input-primary-color: #6f7b811a;
    --input-secondary-color: #fff;
    /* --ellipse-primary-bgColor: #0080001a;
    --elipse-secondary-bgColor: #ffffff0d; */
    --primary-rect-bgColor: #0080000d;
    --secondary-rect-bgColor: #ffffff0d;
}

.dark-theme{
    --primary-color: #263238;
    --secondary-color: #fdfdfd;
    --primary-green: #23B123;
    --secondary-green: #008000;
    --input-primary-color: #fff;
    --input-secondary-color: #6f7b811a;
    --primary-rect-bgColor: #ffffff0d;
    --secondary-rect-bgColor: #0080000d;
}


.Group-2533{
    position: absolute;
    width: 350px;
    /* left: 5px;
    top: -10px; */
    font-family: 'Inter Tight', sans-serif;;
}

.home{
    /* background-image: url(imgs/Group-2532.png); */
    /* min-height: 100vh; */
    /* background-position: center;
    background-size: cover; */
    background-repeat: no-repeat;
    position: relative;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 60px 5% 41px;
}

.logo{
    font-style: medium;
    font-size: 36px;
    line-height: 43px;
    line-height: 100%;
    text-align: Left;
    font-weight: 600;
    vertical-align: Center;
    color: var(--secondary-color);
}

.some-links{
    display: flex;
    width: 100%;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    position: relative;
    transition: .8s;
    z-index: 2;
}



nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a{
    text-decoration: none;
    color: var(--secondary-color);
    cursor: pointer;
}

.header-btns{
    position: absolute;
    right: 0px;
}

.header-btns button{
    border-radius: 10px;
    font-weight: 550;
    gap: 10px;
    cursor: pointer;
}

.sign-in{
    border: 1px solid var(--secondary-color);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 14px 25px 14px 25px;
}

.get-started{
    padding: 14px 20px 14px 20px;
    border: none;
    background-color: var(--primary-green);
    color: #fdfdfd;
}

.hamburger{
    display: none;
    cursor: pointer;
    z-index: 3;
}

input[type="checkbox"]{
    visibility: hidden;
}

.check{
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    background-color: #092c3e;
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    transition: ease-in .5s;
    position: absolute;
    top: 70px;
    right: 2%;
}

input[type="checkbox"]:checked ~ .check{
    background: #fff;
}

.check:before{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    background: #fff;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: .5s;
}

input[type="checkbox"]:checked ~ .check:before{
    transform: translate(20px);
}

.check:after{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    background: #092c3e;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: .5s;
    transform: translate(-20px);
}

input[type="checkbox"]:checked ~ .check:after{
    transform: translate(20px);
}



.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all .3s ease-in-out;
    background-color: var(--secondary-color);
}


.main{
    background-image: url(/imgs/Group-2532.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding-top: 240px;
}

.main-header{
    text-align: center;
    font-size: 70px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
    color: var(--secondary-color);
    padding: 0px 40px 0px;
    /* border: 2px solid blue; */
}

.txt-color{
    color: var(--primary-green);
}

.main-paragraph{
    margin-top: 69px;
}

.main-p{
    text-align: center;
    font-size: 18px;
    color: var(--secondary-color);
    line-height: 100%;
    line-height: 32px;
    vertical-align: top;
    /* width: 725px;
    height: 96px; */
    /* border: 1px solid blue; */
}

.newsletter{
    margin-top: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.newsletter form{
    width: 533px;
    max-width: 100%;
    position: relative;
    /* border: 1px solid red; */
}

.newsletter form input:first-child{
    display: inline-block;
    border-radius: 10px;
    border: none;
    background-color: var(--input-primary-color);
    padding: 25px 335px 28px 25px;
    font-size: 18px;
    color: var(--secondary-color);
    outline: none;
}

.newsletter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 22px 25px 22px;
    background-color: var(--primary-green);
    border-radius: 10px;
    color: #fdfdfd;
    font-size: 18px;
    top: 6px;
    right: -40px;
    cursor: pointer;
}

.brands{
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 209px;
    /* border: 2px solid red; */
}

.brands-logo img{
    width: 100%;
    cursor: pointer;
}

.brands .brands-logo{
    display: inline-block;
    padding: 0px 90px 0px;
}


.about{
    width: 100%;
    padding-top: 200px;
}

.main-about{
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.info-about{
    display: flex;
    /* justify-content: flex-start; */
    flex-direction: column;
    padding: 0px 5% 0px;
}

.header-h2{
    font-size: 450%;
    /* font-family: 'Spartan'; */
    font-weight: bold;
    line-height: 70px;
    letter-spacing: 5px;
    color: var(--secondary-color);
}

.p-about{
    padding: 32px 0px 48px;
}

.aboutP{
    letter-spacing: 1px;
    font-size: 100%;
    line-height: 177%;
    color: var(--secondary-color);
}

.info-img{
    padding: 0px 12% 0px;
}

.info-img img{
    /* width: 700px;
    height: 880px; */

    width: 750px;
    height: 95%;
}

.cards{
    display: flex;
    padding-bottom: 48px;
}

.card-p{
    color: var(--secondary-color);
}

.cards-paragraphs{
    padding: 0px 32px 0px;
}

.ellipse{
    width: 110px;
    height: 100px;
    border: none;
    border-radius: 50%;
    background-color: var(--primary-rect-bgColor);
    display: flex;
    justify-content: center;
    align-items: center;
}

.darker{
    font-weight: 700;
    color: var(--secondary-color);
}


.pathway{
    padding-top: 200px;
    display: flex;
}

.pathway-img{
    padding-left: 100px;
}

.frame-22{
    width: 690px;
    height: 690px;
}

.pathway-info{
    padding-left: 126px;
    display: flex;
    flex-direction: column;
}

.pathway-p{
    padding: 32px 0 42px;
}

.path-rectangles{
    display: flex;
    flex-direction: column;
}

.rect-p{
    /* padding: 24px 330px 24px 30px; */
    font-size: 20px;
    color: var(--secondary-color);
    letter-spacing: 1px;
    font-weight: 300;
}

.vector{
    position: absolute;
    right: 25px;
    cursor: pointer;
}

.rectangles{
    padding-bottom: 24px;
}

.rectangle{
    display: flex;
    align-items: center;
    position: relative;
    /* border: 1px solid red; */
    background-color: var(--primary-rect-bgColor);
    border-radius: 10px;
    padding: 24px 100px 24px 30px;
    /* padding-top: 24px 330px 24px 30px; */
}


.choose{
    padding-top: 200px;
    display: flex;
}

.choose-p{
    font-size: 18px;
    color: var(--secondary-color);
    font-weight: 200;
    line-height: 177%;
    padding: 32px 0px 48px;
}

.choose-txt{
    padding-left: 100px;
}

.choose-img{
    padding-left: 252px;
    width: 680px;
    height: 812px;
}

.lists{
    padding-bottom: 48px;
}

.list{
    display: flex;
    align-items: center;
}

.lil-ellipse{
    width: 64px;
    height: 64px;
    border: none;
    border-radius: 50%;
    background-color: var(--primary-rect-bgColor);
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-p{
    padding-left: 50px;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    color: var(--secondary-color);
    
}

.learn-btn{
    padding: 22px 55px 22px;
    border: none;
    border-radius: 10px;
    background-color: var(--primary-green);
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    cursor: pointer;
}


.costumers-say{
    padding-top: 200px;
}

.costumer-header{
    padding-bottom: 32px;
}

.costumers{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.costumer-p{
    font-weight: 400;
    font-size: 18px;
    line-height: 177%;
    padding: 0px 0px 48px;
    color: var(--secondary-color);
}

.costumers-cards{
    display: flex;
}

.cc{
    padding-left: 48px;
}


.costumer-card{
    width: 686px;
    height: 377px;
    background-color: var(--primary-rect-bgColor);
    display: flex;
    border: none;
    border-radius: 20px;
    position: relative;
}

.costumer-card img {
    padding: 0;
    margin: 0;
    width: 302px;
    height: 377px;
}

.cos-card-p{
    font-weight: 400;
    font-size: 18px;
    line-height: 177%;
    color: var(--secondary-color);
    padding: 32px 32px 0px;
}

.costumer-name{
    position: absolute;
    font-weight: 600;
    font-size: 18px;
    line-height: 177%;
    color: var(--secondary-color);
    bottom: 32px;
    left: 334px;
}

.view{
    padding-top: 70px;
}

.view-btn{
    padding: 22px 70px 22px;
    border: none;
    border-radius: 10px;
    background-color: var(--primary-green);
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 3px;
    cursor: pointer;
}

.download-app{
    padding: 200px 0px 200px;
    width: 100%;
    display: flex;
    justify-content: center;
}